@model Payroll.ModelsDto.CompanyDto

@{
    ViewData["Title"] = "Details";
    ViewData[ "ShowBanner" ] = false;
}

<div class="about_section layout_padding company">
	<div class="container">
		<h1 class="watchs_taital">Company Details</h1>
	</div>
	<div class="contact_section_2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<form asp-action="Edit">
						<div class="mail_section_1">
							<div class="form-group">
								<label asp-for="Name" class="control-label">
								</label>
								<label class="form-control mail_text">
									@Model.Name
								</label>
							</div>
							<div class="form-group company-name">
								<label asp-for="UniqueIdentifier"
									  class="control-label"></label>
								<label class="form-control mail_text">
									@Model.UniqueIdentifier
								</label>
							</div>
							<div class="form-group">
								<label asp-for="VATRegNumber"
									  class="control-label"></label>
								<label class="form-control mail_text">
									@Model.VATRegNumber
								</label>
							</div>
							 <div class="form-group">
								<label asp-for="CompanyHeadquarter" 
								class="control-label"></label>
								<label class="form-control mail_text">
									@Model.CompanyHeadquarter
								</label>
							</div>
							<div class="form-group">
								<label asp-for="AddressOfManagement" 
								class="control-label"></label>
								<label class="form-control mail_text">
									@Model.AddressOfManagement
								</label>
							</div>
							<div class="form-group">
								<label asp-for="RepresentedBy" 
								class="control-label"></label>
								<label class="form-control mail_text">
									@Model.RepresentedBy
								</label>
							</div>
							 <div class="form-group">
								<label asp-for="RepresentativeIdNumber" 
								class="control-label"></label>
								<label class="form-control mail_text">
									@Model.RepresentativeIdNumber
								</label>
							</div>
							<div class="form-group">
								<label asp-for="CompanyCaseNumber" 
								class="control-label">
								</label>
								<label class="form-control mail_text">
									@Model.CompanyCaseNumber
								</label>
							</div>
							<div class="form-group">
								<label asp-for="HasBeenDeleted"
									  class="control-label"></label>
								<label class="form-control mail_text">
									@Model.HasBeenDeleted
								</label>
							</div>
							<div class="send_bt modify-company">
								<button asp-area="" asp-controller="Companies"
								asp-action="AllActual">
									Back to List
								</button>
							</div>
							<div class="form-group send_bt modify-company">
								<button id="edit-company" type="submit" 
								asp-action="Edit">Edit</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-6 padding_right_0">
					<div class="map_section">
						<img src="/images/map-img-2.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


