@model IList<Payroll.ModelsDto.CompanyDto>

@{
     ViewData[ "Title" ] = "All Actual Companies";
     ViewData[ "ShowBanner" ] = false;
}

<h3 class="text-center">All Actual Companies</h3>
<hr class="hr-2" />
<table class="table mx-auto">
     <thead>
          <tr class="row">
               <th class="col-md-1">#</th>
               <th class="col-md-2">Name</th>
               <th class="col-md-2">Company ID</th>
               <th class="col-md-2">VAT Number</th>
               <th class="col-md-2">Headquarter</th>
               <th class="col-md-2">CEO's name </th>
          </tr>
     </thead>
     <tbody>
          @for ( var i = 0; i < Model.Count(); i++ )
          {
               <tr class="row">
                    @{
                         var x = @i + 1;
                    }
                    <th class="col-md-1">@x </th>
                    <td class="col-md-2">@Model[ i ].Name</td>
                    <td class="col-md-2">@Model[ i ].UniqueIdentifier</td>
                    <td class="col-md-2">@Model[ i ].VATRegNumber</td>
                    <td class="col-md-2">@Model[ i ].CompanyHeadquarter</td>
                    <td class="col-md-2">@Model[ i ].RepresentedBy</td>
               </tr>
          }
     </tbody>
</table>
