@using Payroll.ViewModels.EmployeeViewModels
@model List<AllEmployeeVM>?

@{
       ViewData["Title"] = "AllPresent";
       Layout = "~/Views/Shared/_LayoutLight.cshtml";
}

<h3>All Present Employees</h3>

<div class="col-md-12">
	<nav class="navbar navbar-custom navbar-expand-sm
			navbar-light justify-content-start">
		<ul class="navbar-nav">
			<li class="nav-item">
				<form asp-controller="Employees" asp-action="Create">
					<input id="create-id" type="hidden" name="id" />
					<input id="create-employee-submit" class="nav-link btn" type="submit" 
					value="Add Employee" />
				</form>
			</li>
			<li class="nav-item">
				<form asp-controller="Employees" asp-action="Create">
					<input id="edit-employee-id" type="hidden" name="id" />
					<input id="edit-employee-submit" class="nav-link btn"
						type="submit" value="Edit Employee" />
				</form>
			</li>
			<li class="nav-item">
				<form asp-controller="Employees" asp-action="Delete">
					<input id="delete-employee-id" type="hidden" name="employeeId" />
					<input id="delete-employee-submit" class="nav-link btn"
						type="submit" value="Delete Employee" />
				</form>
			</li>
			<li class="nav-item">
				<form asp-controller="Persons" asp-action="Create">
					@* <input id="edit-employee-id" type="hidden" name="id" /> *@
					<input id="add-person-submit" class="nav-link btn"
						type="submit" value="Add Person" />
				</form>
			</li>
		</ul>
	</nav>
</div>
<hr />
<div class="table-responsive-sm">
       <table class="table  table-hover table-responsive-sm table-light">
		<thead class="table-info">
			<tr>
				<th scope="col">
					Id
				</th>
				<th scope="col" >
					List number
				</th>
				<th scope="col">
					Name
				</th>
				<th scope="col">
					Id Number
				</th>
				<th scope="col">
					Department
				</th>
				<th scope="col">
					Job Title
				</th>
				<th scope="col">
					Contract number
				</th>
				<th>
					Contract date
				</th>
			</tr>
		</thead>

		 <tbody class="table-light">
		@foreach (var item in Model) 
		{
			<tr>
                              <td>
                                    @item.Id
                              </td>
				 <td>
					@item.NumberFromTheList
				</td>
				<td>
					@item.FullName
				</td>
				<td>
					@item.EGN
				</td>
				<td>
					@item.ContractInfo.CurrentDepartmentName
				</td>
				<td>
					@item.ContractInfo.CurrentJobTitle
				</td>
                            <td>
                                   @item.ContractInfo.ContractNumber
				</td>
				<td>
                                   @item.ContractInfo.ContractDate
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>

<div>
	<form>
		<div class="form-group">
			<a asp-action="Index" class="btn btn-primary">Back to List</a>
		</div>
	</form>
</div>

@* 	@Html.ActionLink( "Edit", "Edit", new { /* id=item.PrimaryKey */ } ) |
	@Html.ActionLink( "Details", "Details", new { /* id=item.PrimaryKey */ } ) |
	@Html.ActionLink( "Delete", "Delete", new { /* id=item.PrimaryKey */ } ) *@

@* <p>
	<form asp-controller="Employees" asp-action="Create">
		<input class="nav-link btn" type="hidden" name="id" />
		<input id="create-employee-submit" class="nav-link btn" type="submit" value="Add Employee" />
	</form>
</p> *@