@using Payroll.ViewModels.EmployeeViewModels
@model List<AllEmployeeVM>?

@section Styles
{
       <link rel="stylesheet" type="text/css" href="~/custom/css/privateTable_css.css" asp-append-version="true" />
}

@{
       ViewData["Title"] = "AllPresent";
       Layout = "~/Views/Shared/_LayoutLight.cshtml";
}


<div class="navbar-custom">
       <div class="d-flex cols-sm-12">
              <div class="d-inline col-sm-2 py-1 px-0">
                     <h6 class="text-center py-2 my-0">All Present Employees</h6>
              </div>
              <div class="d-inline  col-sm-10 px-1">
                     <nav class="navbar navbar-custom navbar-expand-sm navbar-light justify-content-end col-sm-12">
                            <partial name="_PartialManageEmployees"></partial>
                     </nav>
              </div>
       </div>
</div>

<hr class="my-2"/>

<div class="table-responsive-sm">
       <table id="privateTable" class="table  table-hover table-responsive-sm">
		<thead class="table-success">
			<tr>
                            <th scope="col" class="px-2">#</th>
				<th scope="col" class="px-1">Employee Id</th>
				<th scope="col" class="px-1" >List number</th>
				<th scope="col" class="px-1">Employee Name</th>
				<th scope="col" class="px-1">Id Number</th>
				<th scope="col" class="px-1">Department</th>
				<th scope="col" class="px-1">Job Title</th>
				<th scope="col" class="px-1">Contract number</th>
                            <th scope="col" class="px-1">Contract date</th>
			</tr>
		</thead>

              <tbody id="customTableBody">
                     @for ( int i = 0; i < Model.Count; i++ )
                     {
                            int rowNumber = i + 1;
                            <tr>
                                   <td class="px-2">@rowNumber</td>
                                   <td class="px-2">@Model[i].Id</td>
                                   <td class="px-2">@Model[ i ].NumberFromTheList</td>
                                   <td class="px-1">@Model[i].FullName </td>
                                   <td class="px-1">@Model[i].EGN </td>
                                   <td class="px-1">@Model[ i ].ContractInfo.CurrentDepartmentName</td>
                                   <td class="px-1">@Model[ i ].ContractInfo.CurrentJobTitle</td>
                                   <td class="px-1">@Model[ i ].ContractInfo.ContractNumber</td>
                                   <td class="px-1">@Model[ i ].ContractInfo.ContractDate</td>
                            </tr>
                     }
		</tbody>
	</table>
</div>
<div>
	<form>
		<div class="form-group">
			<a asp-action="Index" class="btn btn-sm btn-primary">Back to Files</a>
		</div>
	</form>
</div>

<!-- Javascript files-->
@section Scripts
{
       <script src="~/custom/js/privateTable_jquery_functions.js" asp-append-version="true"></script>
	<script src="~/custom/js/ajax_jquery_functions.js" asp-append-version="true"></script>
}
