@using Microsoft.Extensions.Hosting.Internal
@using Payroll.ModelsDto.EmployeeDtos
@using Payroll.Services.Services.EmployeeServices
@using System.IO
@model PaginatedList<GetEmployeeDto> 

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutLight.cshtml";
}

<h1>Employee files</h1>
<hr />

<div class="row">
	<div>
		<img src="~/beta-folder/test1.jpg" asp-append-version="true" 
	width="150px" height="150px"/>
		<img src="~/app-folder/img-2.png" asp-append-version="true"
		width="150px" height="150px"/>
	</div>
	
</div>

<hr />
<vc:select-company></vc:select-company> 
<hr />

<partial name="_PartialEmployee" model="@Model[0]"></partial>
<hr />

@{
	var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="carousel col-mb-6">
	<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
	   class="btn btn-outline-primary @prevDisabled">
		Previous
	</a>
	<input class="text-center" name="pageNumber" value="@Model.PageIndex" />
	<label>/ @Model.TotalPages</label>
	<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
	   class="btn btn-outline-primary @nextDisabled">
		Next
	</a>
</div>