@using Payroll.ViewModels.PersonViewModels
@model List<AddressVM>

@{
       List<AddressVM>? entitiesForEdit = Model;
}

<tbody id="customTableBody">
       @{
              int rows = entitiesForEdit.Count;
              for ( int i = 0; i < rows; i++ )
              {
                     int rowNumber = i + 1;
                     string deleted = entitiesForEdit[ i ].HasBeenDeleted ? "true" : "false";

                     <tr>
                            <td class="px-1 py-1 text-center">@rowNumber</td>
                            <td class="px-1 py-1">
                                   <input asp-for="@Model[i].Id" readonly entity-id
                                          class="mx-0 my-0 border-0 text-center table-field" />
                            </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@Model[ i ].Country" readonly
                                          class="mx-0 my-0 text-center border-0 table-field" />
                            </td>
                            <td class="px-1 py-1 ">
                                   <input asp-for="@Model[ i ].Region" readonly
                                          class="mx-0 my-0 text-center border-0 table-field" />
                            </td>
                            <td class="px-1 py-1 ">
                                   <input asp-for="@Model[ i ].Municipality" readonly
                                          class="mx-0 my-0 text-center border-0 table-field" />
                            </td>
                            <td class="px-1 py-1 w-100">
                                   <input asp-for="@Model[ i ].City" readonly
                                          class="mx-0 my-0 text-center border-0 table-field" />
                            </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@Model[ i ].Street" readonly
                                          class="mx-0 my-0 text-center border-0 table-field" />
                            </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@Model[ i ].Number" readonly
                                          class="mx-0 my-0 text-center border-0 table-field" />
                            </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@Model[ i ].Entrance" readonly
                                          class="mx-0 my-0 text-center border-0 table-field" />
                            </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@Model[ i ].Floor" readonly
                                          class="mx-0 my-0 text-center border-0 table-field" />
                            </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@Model[ i ].ApartmentNumber" readonly
                                          class="mx-0 my-0 text-center border-0 table-field" />
                            </td>
                     </tr>
              }
       }
</tbody>

