@using Payroll.ViewModels.PagingViewModels
@using Payroll.ViewModels.PersonViewModels
@using System.Reflection
@model AddressesOfPersonVM?

@{
       string? prevDisabled = !Model.Addresses.HasPreviousPage ? "disabled" : "";

       string? nextDisabled = !Model.Addresses.HasNextPage ? "disabled" : "";

       string? sortText = Model.Addresses.SortValue;
       int? personId = Model.PersonId;
}

<div id="addresses-table-div" >
       <div>
              <div>
                     <partial name="_PartialAddressSearch" model="@Model"></partial>
              </div>
       </div>

       <div class="table-responsive">
              <table id="privateTable" class="table  table-hover table-responsive-sm">
                     <partial name="_PartialAddressTableHead" model="@Model"></partial>
                     <partial name="_PartialAddressTableBody" model="@Model.Addresses.ItemsCollection"></partial>
              </table>
       </div>
       <div class="row col-sm-3 px-0 mx-0">
              <div class="col-sm-2 pl-0 pr-1">
                     <form asp-action="Index">
                            <input type="hidden" value="@(Model.Addresses.PageIndex - 1)" name="pageIndex" />
                            <input type="hidden" value=@sortText name="sortParam" />
                            <input type="hidden" value=@personId name="personId" />
                            <input type="hidden" value=@Model.Addresses.PageSize name="pageSize" />
                            <button type="submit" class="btn btn-primary @prevDisabled px-2 py-0">
                                   <span aria-hidden="true">&laquo;</span>
                            </button>
                     </form>
              </div>
              <div class="col-sm-5 px-1">
                     <form asp-action="Index">
                            <input id="go-to-page" class="text-center col-sm-6 h-75 border-white px-0 py-0"
                                   value="@Model.Addresses.PageIndex" name="pageIndex" />
                            <input type="hidden" value=@sortText name="sortParam" />
                            <input type="hidden" value=@personId name="personId" />
                            <input type="hidden" value=@Model.Addresses.PageSize name="pageSize" />
                            <label id="lblTotalPages" class="text-left col-sm-4 h-75 border-white px-1">
                                   / @Model.Addresses.TotalPages
                            </label>
                     </form>
              </div>
              <div class="col-sm-2 px-0">
                     <form asp-action="Index">
                            <input type="hidden" value="@(Model.Addresses.PageIndex + 1)" name="pageIndex" />
                            <input type="hidden" value=@sortText name="sortParam" />
                            <input type="hidden" value=@personId name="personId" />
                            <input type="hidden" value=@Model.Addresses.PageSize name="pageSize" />
                            <button type="submit" class="btn btn-primary @nextDisabled px-2 py-0">
                                   <span aria-hidden="true">&raquo;</span>
                            </button>
                     </form>
              </div>
       </div>
       <hr class="my-1" />
</div>

@* <div>
       <dialog id="addressTypeDialog" class="w-25 h-25">
              <form asp-action="Attach" id="attachAddressForm" method="post">
                     <p>
                            <label class="w-100">
                                   Address Type:
                                   <select class="w-50" name="addressType">
                                          <option>Permanent</option>
                                          <option>Current</option>
                                   </select>
                            </label>
                     </p>
                     <input type="hidden" value="@Model.PersonId" name="personId" />
                     <input type="hidden" value="@Model.Addresses.PageIndex" name="pageIndex" />
                     <input type="hidden" value="@Model.Addresses.PageSize" name="pageSize" />
                     <input type="hidden" id="address-id" name="addressId" />
              </form>
              <menu class="mx-4 mt-5 px-5">
                     <button form="attachAddressForm" type="submit"
                             class="px-0 border-0 col-sm-5 btn btn-sm btn-success manage-btn">
                            Confirm
                     </button>
                     <button class="px-0 border-0 col-sm-5 btn btn-sm btn-primary manage-btn"
                             onclick="closeAddressTypeDialog()">
                            Cancel
                     </button>
              </menu>
       </dialog>
</div> *@

 @*       // AddressVM? firstAddress= Model.Addresses.ItemsCollection[ 0 ];

       // PropertyInfo[]? fieldsName = firstAddress.GetType().GetProperties();
       // int? personId = ( Model.ItemsCollection.Count > 0 ) ? firstAddress.PersonId : null;

       // bool modelState = ViewContext.ViewData.ModelState.IsValid;
       // string divStyle = modelState == true ? "display:none" : "display:list-item"; *@