@using Payroll.ViewModels.PagingViewModels
@using Payroll.ViewModels.PersonViewModels
@using System.Reflection
@model AddressesOfPersonVM?

@{
       string? prevDisabled = !Model.Addresses.HasPreviousPage ? "disabled" : "";

       string? nextDisabled = !Model.Addresses.HasNextPage ? "disabled" : "";

       string? sortText = Model.Addresses.SortValue;
       int? personId = Model.PersonId;
}

<div id="addresses-table-div" >
       <div>
              <div>
                     <partial name="_PartialAddressSearch" model="@Model"></partial>
              </div>
       </div>

       <div class="table-responsive">
              <table id="privateTable" class="table  table-hover table-responsive-sm">
                     <partial name="_PartialAddressTableHead" model="@Model"></partial>
                     <partial name="_PartialAddressTableBody" model="@Model.Addresses.ItemsCollection"></partial>
              </table>
       </div>
       <div class="row col-sm-3 px-0 mx-0">
              <div class="col-sm-2 pl-0 pr-1">
                     <form asp-action="Index">
                            <input type="hidden" value="@(Model.Addresses.PageIndex - 1)" name="pageIndex" />
                            <input type="hidden" value=@sortText name="sortParam" />
                            <input type="hidden" value=@personId name="personId" />
                            <input type="hidden" value=@Model.Addresses.PageSize name="pageSize" />
                            <button type="submit" class="btn btn-primary @prevDisabled px-2 py-0">
                                   <span aria-hidden="true">&laquo;</span>
                            </button>
                     </form>
              </div>
              <div class="col-sm-5 px-1">
                     <form asp-action="Index">
                            <input id="go-to-page" class="text-center col-sm-6 h-75 border-white px-0 py-0"
                                   value="@Model.Addresses.PageIndex" name="pageIndex" />
                            <input type="hidden" value=@sortText name="sortParam" />
                            <input type="hidden" value=@personId name="personId" />
                            <input type="hidden" value=@Model.Addresses.PageSize name="pageSize" />
                            <label id="lblTotalPages" class="text-left col-sm-4 h-75 border-white px-1">
                                   / @Model.Addresses.TotalPages
                            </label>
                     </form>
              </div>
              <div class="col-sm-2 px-0">
                     <form asp-action="Index">
                            <input type="hidden" value="@(Model.Addresses.PageIndex + 1)" name="pageIndex" />
                            <input type="hidden" value=@sortText name="sortParam" />
                            <input type="hidden" value=@personId name="personId" />
                            <input type="hidden" value=@Model.Addresses.PageSize name="pageSize" />
                            <button type="submit" class="btn btn-primary @nextDisabled px-2 py-0">
                                   <span aria-hidden="true">&raquo;</span>
                            </button>
                     </form>
              </div>
       </div>
       <hr class="my-1" />
</div>
