@using Payroll.ViewModels.PersonViewModels
@model PersonViewModel;

<form asp-action="AddPerson" method="post">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
       <tr>
              <td></td>
              <td class="col-sm-3"><input type="text" hidden /></td>
              <td class="col-sm-4"><input type="text" hidden /></td>
              <td>
                     <input asp-for="@Model.FirstName" type="text" placeholder="Required" />
                     <span asp-validation-for="FirstName" class="text-danger"></span>
              </td>
              <td>
                     <input asp-for="@Model.MiddleName" type="text" />
                     <span asp-validation-for="MiddleName" class="text-danger"></span>
              </td>
              <td>
                     <input asp-for="@Model.LastName" type="text" placeholder="Required" />
                     <span asp-validation-for="LastName" class="text-danger"></span>
              </td>
              <td class="col-sm-8">
                     <input asp-for="@Model.GenderType" type="text" class="col-sm-12" placeholder="Required" />
                     <span asp-validation-for="GenderType" class="text-danger"></span>
              </td>
              <td class="col-sm-8">
                     <input asp-for="@Model.EGN" type="text" placeholder="Required" />
                     <span asp-validation-for="EGN" class="text-danger"></span>
              </td>
              @* <td><input type="text" />
              <span asp-validation-for="PhotoFilePath" class="text-danger"></span>
              </td> *@
       </tr>
</form>
