@using Payroll.Services.Services
@using Payroll.ViewModels.PersonViewModels
@model List<PersonVM>?

@{
       List<PersonVM>? entitiesForEdit = Model;
}

<tbody id="customTableBody">
       @{
              int rows = entitiesForEdit.Count;
              for ( int i = 0; i < rows; i++ )
              {
                     int rowNumber = i + 1;
                     <tr>
                            <td class="px-1 py-1 text-center"><input type="checkbox" class="edit-checkbox" /></td>
                            <td class="px-1 py-1 text-center">@rowNumber</td>
                            <td class="px-1 py-1">
                                   <input asp-for="@entitiesForEdit[ i ].Id"
                                          class="text-sm-center col-sm-11 border-0 table-field" readonly />
                            </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@entitiesForEdit[ i ].FirstName"
                                          class="col-sm-11 text-sm-center border-0 table-field" readonly />
                             </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@entitiesForEdit[ i ].MiddleName"
                                          class="col-sm-11 text-sm-center border-0 table-field" readonly />
                             </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@entitiesForEdit[ i ].LastName"
                                          class="col-sm-11 text-center border-0 table-field" readonly />
                             </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@entitiesForEdit[ i ].GenderType" list="gender-list" readonly
                                          class="col-sm-11 text-center border-0 table-field"/>
                                   <vc:gender-types></vc:gender-types>
                                   
                             </td>
                            <td class="px-1 py-1">
                                   <input asp-for="@entitiesForEdit[ i ].CivilNumber"
                                          class="col-sm-11 text-center border-0 table-field" readonly />
                             </td>
                            <td class="px-1 py-1">
                                    <input asp-for="@entitiesForEdit[ i ].PhotoFilePath"
                                          class="col-sm-11 text-center border-0 table-field" readonly />
                             </td>
                            <td hidden>
                                   <input asp-for="@entitiesForEdit[ i ].ViewTableRow" 
                                   class="not-table-field" readonly hidden />
                            </td>
                            <td hidden>
                                   <input asp-for="@entitiesForEdit[ i ].PermanentAddressId"
                                          class="not-table-field" hidden />
                            </td>
                            <td hidden>
                                   <input asp-for="@entitiesForEdit[ i ].CurrentAddressId"
                                          class="not-table-field" hidden />
                            </td>
                     </tr>
              }
       }
</tbody>

@* <datalist id="gender-list">
       <option value="man"></option>
       <option value="woman"></option>
</datalist> *@