@using Payroll.ViewModels.PagingViewModels
@using Payroll.ViewModels.PersonViewModels
@model PagingListSortedFiltered<PersonVM,PersonFilterVM>

@{
       PersonFilterVM filter = Model.FilterVM;
}

<div>
       <div class="d-flex justify-content-start px-0 py-1 w-100">

              <div class="row col-sm-3 border border-2 mx-1">
                     <div class="col-sm-7 d-inline-block px-2 pb-0 pt-4">
                            <div>
                                   <div class="d-flex justify-content-center p-1 m-0">
                                          <div class="d-inline mx-1">
                                                 <form asp-action="AllPersons" method="post">
                                                        <input type="submit" 
                                                                    class="btn btn-success border-0 px-1 py-0 col-sm-12" value="..." />
                                                 </form>
                                          </div>
                                          <div class="d-inline mx-1">
                                                 <form asp-action="AllPersons" method="post">
                                                        <input asp-for="@Model.PageSize" type="text" name="pageSize"
                                                                      class="border-1 col-sm-4 px-1 py-0" />
                                                        <label>Table rows</label>
                                                        <input type="hidden" value="@Model.PageIndex" name="pageIndex" />
                                                        <input type="hidden" value=@Model.SortValue name="sortParam" />
                                                 </form>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <label class="col-sm-5 control-label text-start px-1 py-1 pt-4"> &#x1F878; Table Settings</label>
              </div>

              <div class="row col-sm-8 border border-2 mx-1">
                     <label class="col-sm-2 control-label text-center px-1 py-1 pt-4">Filter &#x1F87A;</label>
                     <div class="col-sm-10 d-inline-block px-1 py-1">
                            <form asp-action="AllPersons" method="post">
                                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                   <div class="d-flex justify-content-start">
                                          <div class="row mx-0 w-100">
                                                 <div class="form-group col-md-2 p-0">
                                                        <label asp-for="@filter.PersonId" class="col-sm-11"></label>
                                                        <input asp-for="@filter.PersonId" 
                                                               class="col-sm-11 border-1 px-1 py-0" type="text"
                                                               validate field-name="@nameof(filter.PersonId)" />
                                                 </div>
                                                 <div class="form-group col-md-5 p-0">
                                                        <label asp-for="@filter.SearchName" class="col-sm-11"></label>
                                                        <input asp-for="@filter.SearchName" 
                                                               class="col-sm-11 border-1 px-1 py-0" type="text"
                                                               validate field-name="@nameof(filter.SearchName)" />
                                                 </div>
                                                 <div class="form-group col-md-2 p-0">
                                                        <label asp-for="@filter.CivilID" class="col-sm-11" ></label>
                                                        <input asp-for="@filter.CivilID" 
                                                               class="col-sm-11 border-1 px-1 py-0" type="text"
                                                               validate field-name="@nameof(filter.CivilID)" />
                                                 </div>
                                                 <div class="form-group col-md-2 p-0">
                                                        <label class="col-md-12"></label>
                                                        <input type="submit" 
                                                               class="btn btn-success h-50 border-0 col-sm-7 p-0 " 
                                                               value="Search" />
                                                 </div>
                                          </div>
                                   </div>
                            </form>
                     </div>
              </div>
              
       </div>
</div>
