
@using Payroll.Services.Services
@using Payroll.ViewModels.PagingViewModels
@using Payroll.ViewModels.PersonViewModels
@model PagingListSortedFiltered<PersonVM,PersonFilterVM>


@section Styles
{
       <link rel="stylesheet" type="text/css" href="~/custom/css/privateTable_css.css" asp-append-version="true"/>
       <link rel="stylesheet" type="text/css" href="~/custom/css/alertMessage.css" asp-append-version="true" />
}

@{
       ViewData["Title"] = "Persons";
       Layout = "~/Views/Shared/_LayoutLight.cshtml";

       string? prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
       string? nextDisabled = !Model.HasNextPage ? "disabled" : "";

       string? sortText = Model.SortValue;

       bool modelState = ViewContext.ViewData.ModelState.IsValid;
       string divStyle = modelState == true ? "display:none" : "display:list-item";
}

<div class="payroll-table">
       <div class="col">
              <div class="navbar-custom">
                     <div class="row">
                            <div class="col-sm-3 d-flex justify-content-center">
                                   <div class="col-sm-10 text-center">
                                          <h4 id="private-header" 
                                                  class="text-justify text-dark my-0 py-2">Persons List</h4>
                                   </div>
                            </div>
                            <div class="col-sm-9">
                                   <partial name="_PersonItemsPartial"></partial>
                            </div>
                     </div> 
              </div>
              <hr class="my-2"/>

              <div asp-validation-summary="All" class="alert alert-danger alert-dismissible" style="@divStyle">
                     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              </div>
              <div id="edit-success" class="alert alert-success alert-dismissible px-1 py-2 mb-2" style="display:none">
                     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                     <p class="mx-4 my-2"> Editing is successful </p>
              </div>
              <div>
                     <partial name="_SearchPersonsPartial" model="@Model"></partial>
              </div>
              <hr class="my-2"/>
       </div>
       <div>
              <table id="privateTable" class="table  table-hover table-responsive-sm ">
                     <partial name="_PartialTableHead" model="@Model"></partial>
                     <partial name="_PartialTableBody" model="@Model.ItemsCollection"></partial>
               </table>
       </div>
       <div>
               <partial name="_AddPersonTablePartial" model="@Model"></partial>
       </div>

       <div class="row col-sm-3">
              <div hidden>
                     <form asp-action="AllPersons" id="personsPagingForm">
                            <input type="hidden" value="@sortText" name="sortParam" />
                            <input type="hidden" value="@Model.FilterVM.PersonId" name="Id" />
                            <input type="hidden" value="@Model.FilterVM.SearchName" name="SearchName" />
                            <input type="hidden" value="@Model.FilterVM.CivilID" name="EGN" />
                     </form>
              </div>
              
              <div class="col-sm-2">
                     <button id="prevPageBtn"
                                    form="personsPagingForm"
                                    class="btn btn-sm btn-primary final-btn @prevDisabled">
                                   <span aria-hidden="true">&laquo;</span>
                     </button>
              </div>

              <div class="col-sm-8">
                     <input id="go-to-page" 
                                 class="text-center col-sm-7 h-75 border-white"
                                 form="personsPagingForm"
                                 value="@Model.PageIndex" name="pageIndex"/>
                     <label id="lblTotalPages" class="text-center col-sm-3 h-75 border-white">
                            / @Model.TotalPages
                     </label>
              </div>

              <div class="col-sm-2">
                     <button id="nextPageBtn"
                                    form="personsPagingForm"
                                    class="btn btn-sm btn-primary final-btn @nextDisabled">
                                   <span aria-hidden="true">&raquo;</span>
                     </button>
              </div>
       </div>
       <hr class="my-2"/>
       <div>
              <button id="add-entity" 
                             class="btn btn-sm btn-primary h-50 border-0 final-btn">
                     Add
              </button>
              <button id="edit-entities-btn" value="@Model.RouteEdit"
                             class="btn btn-sm btn-primary h-50 border-0 final-btn">
                     Edit
              </button>
              <button id="go-back-btn" 
                             class="btn btn-sm btn-primary h-50 border-0 final-btn employees">
                     Back To Employees Files
              </button>
       </div>
</div>


<!-- Javascript files-->
@section Scripts
{
       <script src="~/custom/js/privateTable_jquery_functions.js" asp-append-version="true"></script>
       <script src="~/custom/js/privateTable_PartTwo_functions.js" asp-append-version="true"></script>
}

