@using Payroll.Services.Services
@using Payroll.ViewModels.PagingViewModels
@using Payroll.ViewModels.PersonViewModels
@model PagingListSorted<ContactInfoVM>

@{
       ContactInfoVM? contactVM = Model.Entity;

       string? sortText = Model.SortValue;
       int? personId = ( Model.ItemsCollection.Count > 0 ) ? Model.ItemsCollection[ 0 ].PersonId : null;
       string? nameAttrInputPersonId = $"{nameof(contactVM)}.{nameof(personId)}";
}

<form asp-action="Create">
       <input type="hidden" value="@Model.PageIndex" name="pageIndex" />
       <input type="hidden" value=@sortText name="sortParam" />
       <input type="hidden" value=@personId name="personId" />
       <input type="hidden" value=@Model.PageSize name="pageSize" />

       <div class="table-responsive">
              <table class="table table-hover table-responsive-sm ">
                     <tbody>
                            <tr id="last-row-add" hidden>
                                   <td class="px-4 py-1"></td>
                                   <td class="px-4 py-1"></td>
                                   <td class="px-3 py-1"></td>
                                   <td class="px-3 py-1"></td>
                                   <td class="px-1 py-1">
                                          <input type="hidden" value="@personId" name=@nameAttrInputPersonId class="border-0 px-1" />
                                   </td>
                                   <td class="px-1 py-1">
                                          <input asp-for="@contactVM.PhoneNumberOne" type="text"
                                                 class="border-1 px-1 col-sm-11"
                                                 validate field-name="@nameof(contactVM.PhoneNumberOne)" />
                                   </td>
                                   <td class="px-1 py-1">
                                          <input asp-for="@contactVM.PhoneNumberTwo" class="border-1 px-1 col-sm-11"
                                                 validate field-name="@nameof(contactVM.PhoneNumberTwo)" />
                                   </td>
                                   <td class="px-1 py-1">
                                          <input asp-for="@contactVM.E_MailAddress1" class="border-1 p-0 col-sm-11"
                                                 validate field-name="@nameof(contactVM.E_MailAddress1)" />
                                   </td>
                                   <td class="px-1 py-1">
                                          <input asp-for="@contactVM.E_MailAddress2" class="border-1 p-0 col-sm-11"
                                                 validate field-name="@nameof(contactVM.E_MailAddress2)" />
                                   </td>
                                   <td class="px-1 py-1">
                                          <input asp-for="@contactVM.WebSite"
                                                 class="border-1 p-0 col-sm-11" list="education-list"
                                                 validate field-name="@nameof(contactVM.WebSite)" />
                                   </td>
                                   <td class="px-1 py-1">
                                          <input asp-for="@contactVM.HasBeenDeleted" class="border-1 p-0 col-sm-11" type="text"
                                                 validate field-name="@nameof(contactVM.HasBeenDeleted)" />
                                   </td>
                            </tr>
                     </tbody>
              </table>
       </div>

       <input id="add-record" type="submit" class="btn btn-success h-50 border-0 col-sm-7 " value="Create" hidden />
</form>