@using Payroll.ViewModels
@model IList<CompanyVM>

@{
    ViewData[ "Title" ] = "All Actual Companies";
}

<div class="company all">
       <div class="container">
              <h1>All Actual Companies</h1>
       </div>
       <div class="table table-responsive-sm">
              <table id="companiesTable"> 
                     <thead>  @* class="thead-dark" *@
                            <tr>
                                   <th scope="col">#</th>
                                   <th scope="col">Name</th>
                                   <th scope="col">Company ID</th>
                                   <th scope="col">VAT Number</th>
                                   <th scope="col">Headquarter</th>
                                   <th scope="col">Address Of Management</th>
                                   <th scope="col">CEO's name </th>
                                   <th scope="col">Is Active</th>
                            </tr>
                     </thead>
                     <tbody id="tbody">
                            @for ( var i = 0; i < Model.Count(); i++ )
                             {
                                   bool activeStatus = (Model[ i ].HasBeenDeleted == false) ? true : false;

                                   var x = @i + 1;
                                   <tr class="company-table-row">
                                          <td>@x </td>
                                          <td>@Model[ i ].Name</td>
                                          <td>@Model[ i ].UniqueIdentifier</td>
                                          <td>@Model[ i ].VATRegNumber</td>
                                          <td>@Model[ i ].CompanyHeadquarter</td>
                                          <td>@Model[ i ].AddressOfManagement</td>
                                          <td>@Model[ i ].RepresentedBy</td>
                                          <td>@activeStatus</td>
                                   </tr>     
                             }
                     </tbody>
              </table>

	       <form  method="post">
	              <div class="form-group">
	 		       <input type="hidden" id="entityId" name="uniqueIdentifier" class="form-control"/>
	              </div>
		       <div class="form-group send_bt modify-company">
	 		       <button type="submit" asp-action="Details">Details</button>
	              </div>
	 	       <div class="form-group send_bt modify-company">
	   	              <button id="edit-company" type="submit" asp-action="Edit" >Edit</button>
	              </div>
	       </form>
       </div>	
</div>

@section Scripts
{
       <script src="~/custom/js/my_jquery_functions.js" asp-append-version="true"></script>
}
