@using Payroll.ViewModels
@model CompanyVM

@{
    ViewData["Title"] = "Details";
}

<div class="about_section layout_padding company">
	<div class="container">
		<h1 class="watchs_taital">Company Details</h1>
	</div>
	<div class="contact_section_2">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 px-1">
				       <div class="mail_section_1">
					 	<div class="form-group my-1">
						       <label asp-for="Name" class="control-label"></label>
                                                 <input asp-for="@Model.Name" readonly
                                                        class="form-control mail_text py-1 h-75 w-75" />
						</div>
					 	<div class="form-group my-1">
                                                 <form asp-action="Edit" method="post"
                                                        id="goto-company-edit">
								<label asp-for="UniqueIdentifier"class="control-label"></label>
								<input asp-for="UniqueIdentifier" name="uniqueIdentifier" readonly
                                                               class="form-control mail_text py-1 h-75 w-75" />
                                                 </form>
							</div>
					 	<div class="form-group my-1">
						       <label asp-for="VATRegNumber" class="control-label"></label>
                                                 <input asp-for="@Model.VATRegNumber" readonly
                                                        class="form-control mail_text py-1 h-75 w-75" />
						</div>
					 	<div class="form-group my-1">
						       <label asp-for="CompanyHeadquarter" class="control-label"></label>
                                                 <input asp-for="@Model.CompanyHeadquarter" readonly
                                                        class="form-control mail_text py-1 h-75 w-75" />
						</div>
					 	<div class="form-group my-1">
						       <label asp-for="AddressOfManagement" class="control-label"></label>
                                                 <input asp-for="@Model.AddressOfManagement" readonly
                                                        class="form-control mail_text py-1 h-75 w-75" />
						</div>
					 	<div class="form-group my-1">
						       <label asp-for="RepresentedBy" class="control-label"></label>
                                                 <input asp-for="@Model.RepresentedBy" readonly
                                                        class="form-control mail_text py-1 h-75 w-75" />
						</div>
					 	<div class="form-group my-1">
						       <label asp-for="RepresentativeIdNumber" class="control-label"></label>
                                                 <input asp-for="@Model.RepresentativeIdNumber" readonly
                                                        class="form-control mail_text py-1 h-75 w-75" />
						</div>
					 	<div class="form-group my-1">
						       <label asp-for="CompanyCaseNumber" class="control-label"></label>
                                                 <input asp-for="@Model.CompanyCaseNumber" readonly
                                                        class="form-control mail_text py-1 h-75 w-75" />
						</div>
					 	<div class="form-group my-1">
								<label asp-for="HasBeenDeleted" class="control-label"></label>
                                                        <input asp-for="@Model.HasBeenDeleted" type="text" readonly
                                                               class="form-control mail_text py-1 h-75 w-75" />
							</div>
					 	<div class="send_bt modify-company">
                                                 <form asp-controller="Companies" asp-action="AllActual" method="post">
                                                        <button>Back to List</button>
                                                  </form>
						</div>
					 	<div class="form-group send_bt modify-company">
								<button id="edit-company"
                                                                       form="goto-company-edit"
                                                                       type="submit">
									       Edit
								</button>
							</div>
					 </div>
				</div>
				<div class="col-md-6 px-1">
                                   @*class="col-md-6 padding_right_0"*@
					<div class="map_section">
						<img src="/images/map-img-2.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


