@using Payroll.ViewModels.EmpContractViewModels
@using Payroll.ViewModels.PagingViewModels
@using System.Reflection
@model PagingListForContracts<LaborAgreementVM, FilterAgreementVM>

@{
       LaborAgreementVM firstContract = Model.ItemsCollection[ 0 ];
       string? sortText = Model.SortValue;

       PropertyInfo[]? fieldsName = firstContract.GetType().GetProperties();
}

<thead class="table-success">
    <tr>
        <th class="px-1 py-0 text-center"></th>
        <th class="px-1 py-0 text-center">
                     <label class="fw-bold">#</label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.Id" class="fw-bold column-lbl"
                            value="@fieldsName[0].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <button class="px-1 py-1 btn new-sort-btn"
                                    form="formGoToPage" type="submit">
                            <label asp-for="@firstContract.FirstLastName"
                                   class="fw-bold column-lbl text-decoration-underline"
                                   value="@fieldsName[1].Name">
                            </label>
                     </button>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.IsRegistered" class="fw-bold column-lbl"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.IsActive" class="fw-bold column-lbl"
                            value="@fieldsName[2].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.ContractType" class="fw-bold column-lbl"
                            value="@fieldsName[3].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <button class="px-1 py-1 btn new-sort-btn"
                                    form="formGoToPage" type="submit">
                            <label asp-for="@firstContract.ContractNumber"
                                   class="fw-bold column-lbl text-decoration-underline"
                                   value="@fieldsName[4].Name">
                            </label>
                     </button>
              </th>
        <th class="px-1 py-0 text-center">
                     <button class="px-1 py-1 btn new-sort-btn"
                                    form="formGoToPage" type="submit">
                            <label asp-for="@firstContract.ContractDate"
                                   class="fw-bold column-lbl text-decoration-underline"
                                   value="@fieldsName[5].Name">
                            </label>
                     </button>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.WorkExperience" class="fw-bold column-lbl"
                            value="@fieldsName[6].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.SpecialtyWorkExperience" class="fw-bold column-lbl"
                            value="@fieldsName[7].Name"></label>
                     <a href="#" class="tip py-0 border-0">!<span>Specialty Work Experience</span></a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.LaborCodeArticle" class="fw-bold column-lbl"
                            value="@fieldsName[8].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.TrialPeriod" class="fw-bold column-lbl"
                            value="@fieldsName[9].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.IsNegotiatedInFavorOf" class="fw-bold column-lbl"
                            value="@fieldsName[10].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <button class="px-1 py-1 btn new-sort-btn"
                                    form="formGoToPage" type="submit">
                            <label asp-for="@firstContract.JobTitle"
                                   class="fw-bold column-lbl text-decoration-underline"
                                   value="@fieldsName[11].Name">
                            </label>
                     </button>
              </th>
        <th class="px-1 py-0 text-center">
                     <button class="px-1 py-1 btn new-sort-btn"
                                    form="formGoToPage" type="submit">
                            <label asp-for="@firstContract.DepartmentName"
                                   class="fw-bold column-lbl text-decoration-underline"
                                   value="@fieldsName[12].Name">
                            </label>
                     </button>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.EAC" class="fw-bold column-lbl"
                            value="@fieldsName[13].Name"></label>
                     <a href="#" class="tip py-0 border-0">!<span>Economic Activity Code</span></a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.NCOP" class="fw-bold column-lbl"
                            value="@fieldsName[14].Name"></label>
                     <a href="#" class="tip py-0 border-0">!<span>National Classification of Occupations and Positions</span></a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.WorkTime" class="fw-bold column-lbl"
                            value="@fieldsName[15].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <button class="px-1 py-1 btn new-sort-btn"
                                    form="formGoToPage" type="submit">
                            <label asp-for="@firstContract.Salary"
                                   class="fw-bold column-lbl text-decoration-underline"
                                   value="@fieldsName[16].Name">
                            </label>
                     </button>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.PercentSWE" class="fw-bold column-lbl"
                            value="@fieldsName[17].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.SalaryDayOfTheMonth" class="fw-bold column-lbl"
                            value="@fieldsName[18].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.PaidLeaveInDays" class="fw-bold column-lbl"
                            value="@fieldsName[19].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.AdditionalPaidAnnualLeaveInDays" class="fw-bold column-lbl"
                            value="@fieldsName[20].Name"></label>
                     <a href="#" class="tip py-0 border-0">!<span>Additional Paid Annual Leave In Days</span></a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.ProbationInMonths" class="fw-bold column-lbl"
                            value="@fieldsName[21].Name"></label>
                     <a href="#" class="tip py-0 border-0">!<span>Trial Period in Months</span></a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.NoticePeriodInDays" class="fw-bold column-lbl"
                            value="@fieldsName[22].Name"></label>
                     <a href="#" class="tip py-0 border-0">!
                            <span>Notice Period In Days</span>
                     </a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.ReceivedAJobDescription" class="fw-bold column-lbl"
                            value="@fieldsName[23].Name"></label>
                     <a href="#" class="tip py-0 border-0">!
                            <span>Received a Job Description</span>
                    </a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.StartingWorkDate" class="fw-bold column-lbl"
                            value="@fieldsName[24].Name"></label>
                     <a href="#" class="tip py-0 border-0">!
                            <span>Starting Work Date</span>
                     </a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.DateOfReceipt" class="fw-bold column-lbl"
                            value="@fieldsName[25].Name"></label>
                     <a href="#" class="tip py-0 border-0">!
                            <span>Date of receipt of contract</span>
                      </a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.EmployeeId" class="fw-bold column-lbl"
                            value="@fieldsName[26].Name"></label>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.PlaceId" class="fw-bold column-lbl"
                            value="@fieldsName[27].Name"></label>
                     <a href="#" class="tip py-0 border-0">!
                            <span>Place of conclusion of the employment contract</span>
                      </a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.WorkPlaceId" class="fw-bold column-lbl"
                            value="@fieldsName[28].Name"></label>
                     <a href="#" class="tip py-0 border-0">!
                            <span>Employee work place</span>
                     </a>
              </th>
        <th class="px-1 py-0 text-center">
                     <label asp-for="@firstContract.CompanyId" class="fw-bold column-lbl"
                            value="@fieldsName[29].Name"></label>
              </th>  
    </tr>
</thead>

<div id="div-formGoToPage">
       <form asp-action="Index" id="formGoToPage">
              <input hidden value="@Model.CompanyId" name="companyId" />
              <input hidden value="@Model.PageIndex" name="pageIndex" class="page-number" />
              <input hidden value="@Model.PageSize" name="pageSize" />
              <input hidden value="@sortText" name="sortParam" id="new-input-sort" />

              <input hidden value="@Model.FilterVM.SearchName" name="SearchName" />
              <input hidden value="@Model.FilterVM.ContractNumber" name="ContractNumber" />
              <input hidden value="@Model.FilterVM.JobTitle" name="JobTitle" />
              <input hidden value="@Model.FilterVM.Department" name="Department" />
              <input hidden value="@Model.FilterVM.StartContractDate" name="StartContractDate" />
              <input hidden value="@Model.FilterVM.EndContractDate" name="EndContractDate" />
       </form>
</div>

